.select-dropdown li img{
    width: 30px!important;
}

.myYellow{
    background-color: #fff4c5!important;
}

.myGreen{
    background-color: #9dd7d5!important;
}

.myRed{
    background-color: #ff7260!important;
}